<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="log-path">simulationLog</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file-log" filePattern="${log-path}/simLog-%d{yyyy-MM-dd HH:mm:ss}.log">
            <PatternLayout>
                <pattern> %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="simLog" level="info" additivity="false">
            <appender-ref ref="file-log" level="info"/>
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console" level="info"/>
        </Root>
    </Loggers>
</Configuration>
